/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

header {
    background-color: rgb(181, 231, 87);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin-right: 20px;
    background-color: rgba(175, 224, 0, 0.788);
    border-radius: 10px;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.btn-order {
    background-color: rgb(176, 224, 0);
    color: black;
    display: flex;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Hero Section */
#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
    background-color: rgb(225, 255, 224);
}

.hero-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 40px 0;
    border-radius: 10px;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5rem;
    display: block;
}

.btn-primary {
    background-color: rgb(123, 231, 0);
    color: black;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

/* Products Section */
#products h2 {
    padding: 40px 0 0 40px;
    text-align: center;
    font-size: 30px;
}

#products {
    background-color: rgb(204, 255, 156);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.product {
    align-items: center;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product img:hover {
    transform: scale(0.9);
}

/* Testimonials Section */
#testimonials {
    background-color:  rgb(225, 255, 224);
    padding: 60px;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.testimonial img {
    width: 100px;
    height: auto;
    border-radius: 15px;
}

.testimonial img:hover {
    transform: scale(0.9);
}

/* Contact Section */
#contact {
    background-color: rgb(204, 255, 156);
    padding: 40px;
    text-align: center;
    display: block;
}

form input,
form textarea {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(127, 253, 215);
}

button {
    padding: 10px 20px;
    background-color: rgba(191, 224, 0, 0.473);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Footer */
footer {  
    background-color: rgb(20, 59, 25);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px;
}

.socials-icons {
    margin-bottom: 10px 0;
}

.socials-icons a img {
    width: 30px;
    margin: 0 10px;
    height: 0 auto;
}

/* Media Queriess for Responsiveness */
@media (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav {
        flex-direction: column;
    }

    .btn-order {
        margin-top: 10px;
    }

    #hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
    #products h2 {
        text-align: center;
    }
    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .testimonials {
        flex-direction: column;
    }

    .testimonial {
        margin: auto;
    }

    form input,
    form textarea {
        width: 90%;
    }
}

@media (max-width: 40px) {
    .hero-content h1 {
        font-size: 1.5rem;
    }

    .product {
        width: 100%;
        margin: 10px 0;
    }

    .testimonial {
        width: 100%;
    }
}